@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: rgb(30, 34, 63);
  --bg-dark: rgb(21, 26, 49);
  --color: rgb(223, 230, 254);
  --color-muted: rgb(86, 91, 114);
  --accent: rgb(239, 120, 114);
}

body {
  background: var(--bg);
  color: var(--color);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  height: 100vh;
}
